@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-background text-primary leading-loose;
  }
  h1 {
    @apply text-2xl font-semibold;
  }
  h2 {
    @apply text-xl font-medium;
  }
  h3 {
    @apply text-lg font-normal;
  }
  h4 {
    @apply text-sm font-normal;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  .borders {
    @apply border-2 border-primary;
  }
  .borders-t {
    @apply border-t-2 border-primary;
  }
  .borders-b {
    @apply border-b-2 border-primary;
  }
  .borders-tb {
    @apply border-b-2 border-t-2 border-primary;
  }

  .content-grid {
    @apply grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-4 gap-y-4;
  }
  .content-flex {
    @apply flex flex-wrap;
  }
  :root {
    --radius: 0.5rem;
    --primary: rgb(31 41 55);
    --secondary: rgb(55 65 81);
    --accent: #1da1f2;
    --accent-hover: #1877b4;
    --background: #ffffff;
    --foreground: #f5f5f5;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
